    <!-- Content Row -->
<div class="row">
    <!-- Map Column -->
    <div class="col-md-4">
        <% if @business.logo.blank? %>
        <%= image_tag "nologo.png", width: "100%",:class => "img-responsive"%>
        <% else %>
        <%= image_tag @business.logo_url, :class => "img-responsive"%>
        <% end %>
    </div>
    <!-- Contact Details Column -->
    <div class="col-md-8">
        
        <div id="map">
            <div id="geolocation"></div>
        </div>
       
        <h3><%= @business.name %></h3>
        <div id="rateAverage"></div><br>
        <%= link_to "Suggest an Update", suggest_edits_path(id: @business.id) %>
        <br>
        <h5><%= @business.description %></h5>
        <p>
            <% unless @business.addresses.blank?  %>
                <% @business.addresses.each do |address|  %>
                    <i class="fa fa-map-marker"></i>
                    <%= address.name %><br>
                <% end %>
            <% end %>
        </p>
        <% @business.phones.each do |phone| %>
        <p><i class="fa fa-phone"></i>
        <abbr title="Phone"><%= phone.phone_type %></abbr>: <%= phone.phone_number %></p>
        <% end %>
        <p><i class="fa fa-envelope-o"></i>
            : <a href="<%= @business.email %>"><%= @business.email %></a>
        </p>
        <p><i class="fa fa-clock-o"></i>
        <abbr title="Hours"> Today</abbr>:
        <% if @business.open == [] %>
            <b style="padding:5px;background-color:#808080;color:white"> UNKNOWN </b>
        <% elsif @business.open %>
            <b style="padding:5px;background-color:green;color:white"> OPEN </b>
        <% else %>
            <b style="padding:5px;background-color:red;color:white"> CLOSED </b>
        <% end %>
    </p>
     <!--    <p><i class="fa fa-clock-o"></i>
        <abbr title="Hours">Tomorrow</abbr>: 10:00 - 22:00
        </p> -->
        <% if @business.addresses.first.present? %>
            <a href = "https://maps.google.com/maps?saddr=&daddr=<%= @business.addresses.first.latitude %>, <%= @business.addresses.first.longitude %>&dirflg=d" > Directions</a><br>
        <% end %>
       
        <ul class="list-unstyled list-inline list-social-icons">
            <% unless @business.facebook.blank? %>
                <li>
                    <a href="<%= @business.facebook %>"><i class="fa fa-facebook-square fa-2x"></i></a>
                </li>
            <% end %>
            <% unless @business.instagram.blank? %>
                <li>
                    <a href="<%= @business.instagram %>"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
            <% end %>
            <% unless @business.twitter.blank? %>
                <li>
                    <a href="<%= @business.twitter %>"><i class="fa fa-twitter-square fa-2x"></i></a>
                </li>
            <% end %>
        </ul>
    </div>
</div>
<!-- /.row -->


<script type="text/javascript">
    $(function () {
     
      $("#rateAverage").rateYo({
        rating: <%= @average %>,
        readOnly: true
      });
     
    });

</script>


<script>
   function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("geolocation"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    var markers = [
      <% @business_addresses.each do |a| %>  
        [<%= a.latitude %>, <%= a.longitude %>],
      <% end %> 
    ];
                                
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][0], markers[i][1]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
        });
        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(7);
        google.maps.event.removeListener(boundsListener);
    });
    
}

</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2Thur_PgWUQvdiGx2PDiUy2CKVkqTB2M&callback=initialize" async defer></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.9/src/markerclusterer_packed.js"></script>
