    <!-- Content Row -->
<div class="row">
    <!-- Map Column -->
    <div class="col-md-2">

    </div>
    <!-- Contact Details Column -->
    <div class="col-md-10">
        
        <div id="map">
            <div id="geolocation"></div>
        </div>
       
        <h3><%= @business.name %></h3>
        <div id="rateAverage"></div><br>

        <h5><%= @business.description %></h5><br>
        <p><i class="fa fa-clock-o"></i>
        <abbr title="Hours"> Today</abbr>:
        <% if @business.open == [] %>
            <b style="padding:5px;background-color:#808080;color:white"> UNKNOWN </b>
        <% elsif @business.open  %>
            <b style="padding:5px;background-color:green;color:white"> OPEN </b>
        <% else %>
            <b style="padding:5px;background-color:red;color:white"> CLOSED </b>
        <% end %>
    </p>
     <!--    <p><i class="fa fa-clock-o"></i>
        <abbr title="Hours">Tomorrow</abbr>: 10:00 - 22:00
        </p> -->
    </div>
</div>
<!-- /.row -->


<script type="text/javascript">
    $(function () {
     
      $("#rateAverage").rateYo({
        rating: <%= @business.average_rate %>,
        readOnly: true
      });
     
    });

</script>


<script>
   function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("geolocation"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    var markers = [
      <% @business_addresses.each do |a| %>  
        [<%= a.latitude %>, <%= a.longitude %>],
      <% end %> 
    ];
                                
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][0], markers[i][1]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
        });
        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(7);
        google.maps.event.removeListener(boundsListener);
    });
    
}

</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2Thur_PgWUQvdiGx2PDiUy2CKVkqTB2M&callback=initialize" async defer></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.9/src/markerclusterer_packed.js"></script>
