<div class="single-hero">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 single-hero-title"><br><br><br><br>
                <h2><%= @business.name %></h2>
                <% if @business.logo %>
                <%= image_tag @business.logo_url, width: "40%", class: "img-circle", style: "padding-left: 00px;"%>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div class="section-tabs sigle-tabs">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12">
                <ul class="list-inline filter-ul">
                    <li><h5 class="roboto"><a href="<%= businesses_path %>">Businesses</a></h5></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li><h5 class="roboto"><a href="#"><%= @business.name %></a></h5></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="single-page-bg-color">
    <div class="single-details">
        <div class="container">
            <div class="row">
                
                <div class="col-xs-3">
                    <ul class="single-details-ul">
                        <% unless @business.addresses.blank? %>
                        <li><h6>Address</h6></li>
                            <% @business.addresses.each do |address| %>
                            <li><p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= address.name %></p></li>
                            <% end %>
                        <% end %>
                    </ul><br>
                    <a href="#" class="strong"><span class="q-mark">?</span><% if @business.addresses.first.present? %>
                    <a href = "https://maps.google.com/maps?saddr=&daddr=<%= @business.addresses.first.latitude %>, <%= @business.addresses.first.longitude %>&dirflg=d" > Directions</a><br>
                <% end %></a>
                </div>
                  <div class="col-xs-3">
                    <ul class="single-details-ul">
                        <% unless @business.phones.blank? %>
                        <li><h6>Contact</h6></li>
                            <% @business.phones.each do |phone| %>
                            <li><p><i class="fa fa-phone" aria-hidden="true"></i> <%= phone.phone_type %>: <%= phone.phone_number %></p></li>
                            <% end %>
                        <% end %>
                    </ul>               
                </div>
                <div class="col-xs-3">
                    <ul class="single-details-ul">            
                        <li><h6>Email</h6></li>  
                        <li><p><i class="fa fa-envelope-o"></i></i> <%= @business.email %></p></li>
                        <li>
                            <% unless @business.facebook.blank? %>
                                <a href="<%= @business.facebook %>"><i class="fa fa-facebook-official fa-3x"></i></a>
                            <% end %>
                            <% unless @business.instagram.blank? %>
                                <a href="<%= @business.instagram %>"><i class="fa fa-instagram fa-3x"></i></a>
                            <% end %>
                            <% unless @business.twitter.blank? %>
                                <a href="<%= @business.twitter %>"><i class="fa fa-twitter-square fa-3x"></i></a>
                            <% end %>
                            <% unless @business.google.blank? %>
                                <a href="<%= @business.google %>"><i class="fa fa-google-plus-square fa-3x"></i></a>
                            <% end %>
                        </li>
                    </ul>                     

                </div>

                    <a href="<%= suggest_edits_path(id: @business.id) %>" class="pull-right strong"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Suggest and edit</a>

            </div>
        </div>
    </div>
    <div class="details vert-offset-top-4">
        <div class="container">
            <div class="row">
                
                <div class="col-xs-12">
                    <div class="details-item vert-offset-bottom-6">
                        <div class="padding-15 border-bottom details-title">
                            <h5 class="strong lineheight-1">Details</h5>
                            <div class="dropdown">
                                <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag 'setting-bullets.png' %>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dLabel">
                                    <li><a href="#">Settings</a></li>
                                    <li><a href="#">Change</a></li>
                                    <li><a href="#">Mix</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="detail-slider">
                            <div class="sl1">
                                <div class="padding-20 details-tabs">
                                    <ul class="nav nav-tabs detail-tabs-ul" role="tablist">
                                        <li role="presentation" class="active"><a href="#details" aria-controls="home" role="tab" data-toggle="tab" class="h6 strong">Business Details</a></li>
                                        <li role="presentation"><a href="#gallery" aria-controls="profile" role="tab" data-toggle="tab" class="h6 strong">Gallery</a></li>
                                        <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab" class="h6 strong">Video</a></li>
                                        <li role="presentation"><a href="#reviews" aria-controls="messages" role="tab" data-toggle="tab" class="h6 strong">Reviews</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="details">
                                            <%= render "details" %>
                                        </div>
                                        <div role="tabpanel" class="tab-pane " id="gallery">
                                            <%= render "gallery" %>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="video">
                                            <%= render "videos" %>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="reviews">
                                            <%= render "reviews" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        
                    </div>
                </div>
                <%= render "info" %>
                
            </div>
        </div>
    </div>
    <div class="single-comment">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-inline filter-ul" >
                        <% @business.categories.each do |category| %>
                        <li><span class="label filter-labels label-green"><%= category.name %></span></li>
                        <!--   <li><span class="label filter-labels label-emerald">Art</span></li>
                        <li><span class="label filter-labels label-purple">Birds</span></li> -->
                        <% end %>
                    </ul>
                </div>
                <div class="col-xs-7 vert-offset-top-5">
                    <h6 class="strong"><%= pluralize(@business.comments.size, 'comment') %><span class="bs-caret"><span class="caret"></span></span></h6>
                    <div id='com'>
                        <%= render @business.comments %>
                    </div>
                    <% if current_user %>
                    <div class="input-group input-group-lg vert-offset-top-3">
                        <%= form_for Comment.new, id: "asd" do |f| %>
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        <%= f.text_field :content, class: "form-control", type: 'text', placeholder: "Write a comment", :"aria-describedby" => "sizing-addon1", id: "comment_field"%>
                        <% end %>
                    </div>
                    <% end %>
                    <div class="users vert-offset-top-4 vert-offset-bottom-8">
                        
                     </div>

               
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id = "business_id" style = "display: none;"> <%= @business.id %></div>
