<!-- Page Content -->
<%= render "layouts/header" %>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Business
            <small>******</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
            </li>
            <li class="active">Details</li>
        </ol>
    </div>
</div>
<!-- /.row -->
<%= render "details" %>
<hr>
<%= render "gallery" %>
<hr>
<hr>
<div class="container" style="padding:50px;">
    <div class="msg"><span class="glyphicon glyphicon-ok"></span> Reviews</div>
    <div class="col-lg-12">
        <ul id="myTab" class="nav nav-tabs nav-justified">
            <li class="active"><a href="#service-3" data-toggle="tab">Comment</i></a>
        </li>
        <li class=""><a href="#service-4" data-toggle="tab"> Rating</a> </a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="service-3"><br><br>
        <div class="row">
            <%= commontator_thread(@business) %>
        </div>
    </div>
    <div class="tab-pane fade" id="service-4"><br><br>
        <div class="row">
            
        </div>
        <!-- <div class="alert alert-info text-center" role="alert"> No reviews</div>                            -->
    </div>
</div>
</div>
</div>
</div>
<%= render "info" %>
<!-- Footer -->
<%= render "layouts/footer" %>


    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2Thur_PgWUQvdiGx2PDiUy2CKVkqTB2M&callback=initMap" async defer></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.9/src/markerclusterer_packed.js"></script>
    <script>
    function initMap() {
          var latitude = <%= @business.latitude %>  
          var longitude = <%= @business.longitude %>

          var myLatLng = {lat: latitude, lng: longitude };

        var map = new google.maps.Map(document.getElementById('geolocation'), {
            zoom: 4,
            center: myLatLng
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });
        }
</script>
</div>