<html>
    <head>
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    </head>
    <body>
        
        <br><br>
        <div class="container">
            <section style="padding-bottom: 50px; padding-top: 50px;">
                <div class="row">
                    <div class="col-md-4">
                        <% if current_user.logo.blank? %>
                        <%= image_tag   "noprofile1.png", width: "100%",class: "img-rounded"%>
                        <% else %>
                        <%= image_tag   current_user.logo_url, width: "100%",class: "img-rounded"%>
                        <% end %>
                        <%= render "update_user"%>
                        <br /><br/>
                    </div>
                    <div class="col-md-8">
                        <ul id="myTab" class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-comment"></i> Reviews</a>
                        </li>
                        <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-star"></i> Ratings</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="service-one">
                        <div class="panel panel-default alert alert-warning alert-dismissible">
                          <div class="panel-body">
                                <% @user_creator.each do |comment| %>
                                <h3 style="color:#3366ff"><%= link_to Business.find(comment.thread.commontable_id).name, business_path(comment.thread.commontable_id) %></h3>
                                <h5><% Business.find(comment.thread.commontable_id).addresses.each do |address|%></h5>
                                   <i class="fa fa-map-marker" aria-hidden="true"></i> <%= address.name %><br>
                                <% end %></h5><br>
                                <p><i class="fa fa-comments-o" aria-hidden="true"></i>
                                     <%= comment.body %></p>
                                <hr>
                                <% end %>
                          </div>
                          <div class="row text-center">
                                <div class="col-lg-12">
                                    <ul class="pagination">
                                        <div class="digg_pagination">  
                                            <%= will_paginate @user_creator, :container => false %>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>                     
                    </div>

                    <div class="tab-pane fade" id="service-two">
                        <div class="panel panel-default alert alert-warning alert-dismissible">
                          <div class="panel-body">
                            <% @user_ratings.each do |rate| %>
                                <h3 style="color:#3366ff"><%= link_to Business.find(rate.business_id).name, business_path(Business.find(rate.business_id)) %></h3>
                                <h5><% Business.find(rate.business_id).addresses.each do |address| %>
                                   <i class="fa fa-map-marker" aria-hidden="true"></i> <%= address.name %><br>
                                <% end %></h5>
                                
                                <div id="rateYo<%= rate.id %>"></div>
                             
                                <script type="text/javascript">
                                    $(function () {
                                     
                                      $("#rateYo<%= rate.id %>").rateYo({
                                        rating: <%= rate.score %>,
                                        readOnly: true
                                      });

                                    });
                                </script>

                                <hr>
                            <% end %>
                          </div>
                          <div class="row text-center">
                                <div class="col-lg-12">
                                    <ul class="pagination">
                                        <div class="digg_pagination">  
                                            <%= will_paginate @user_ratings, :container => false %>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>       
                    </div>
                </div>
            </div>
            </div>
            
            
            <!-- ROW END -->
        </section>
        <!-- SECTION END -->
    </body>
</html>