

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">        
                    <small>...</small>       
                <ol class="breadcrumb">
                    <li><a href="index.html">Search</a>
                    </li>
                    <li class="active">By Products</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Sidebar Column -->
            <div class="col-md-2">
                <div class="list-group">
                    <%= link_to "Multi Search", search_advanced_path, class: "list-group-item" %>
                    <%= link_to "By Products", search_by_product_path, class: "list-group-item active" %>
                </div>
            </div>

            <!-- Content Column -->
            <div class="col-md-9">
            

                <div id="login-overlay" class="modal-dialog">
                      <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel">Search by product</h4>
                              <p>Please Register to Shop at <b>Yael's Everything Store</b>.
                                You will instantly receive hundreds of amazing shopping deals,  
                                or go back to our <a href="./index.jsp">main site</a>.</p>
                            </div>

                    <div class="modal-body">
                        <%= form_tag("/search/index", method: "get", id: "registerForm" ) do %>                   
                     
                        <div class="form-group">
                            <div class="form-group"> 
                                    <div class="col-xs-12">
                                        <label for="InputEmail">Products?</label>
                                        <div class="input-group">
                                        <%= text_field_tag :product, params[:product], :required => true,class: "form-control", id: "business_search", placeholder: "e.g. products name" , autocomplete: "off" %>

                                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                                    </div>
                                        
                                <br>
                                </div>
                            </div>
                                

                            <div class="form-group">
                                <div class="input-group-addon">
                                <%= button_tag(type: "submit", class: "btn btn-success pull-right") do %>
                                    Search <i class="fa fa-search"></i>
                                <% end %>
                                 </div>
                            </div>
                            <% end %>
                         </div>
                    </div>
                </div>


                <script type="text/javascript">

                </script>
                            
                </div>
        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->




 <script type="text/javascript">
   $(function() {
     $( "#business_search" ).autocomplete({
    <% products = Product.all %>
     source: [
      <%products.each do |p| %>
     { label: "<%=  p.name %>", value: "<%= p.name %>" },
     <% end %>
     ]
     });
   });   
 </script>