<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title></title>	

	<!-- toolkit styles -->
	<!-- /toolkit styles -->

</head>
<body>


	
<div class="section-tabs">
	<div class="container">
		<div class="row">
			
		<div class="col-md-6">
			<ul class="list-inline filter-ul" >
	        	<li><span class="label filter-labels">White <i class="fa fa-times" aria-hidden="true"></i></span></li>
	        </ul>

			</div>
			<div class="col-md-6 text-right">
				<span class="h6 strong">Sort By</span>
				<select class="selectpicker" title="Price">
				  <option>Mustard</option>
				  <option>Ketchup</option>
				  <option>Relish</option>
				</select>
				<select class="selectpicker" title="Brand">
				  <option>Mustard</option>
				  <option>Ketchup</option>
				  <option>Relish</option>
				</select>
				<select class="selectpicker" title="Type">
				  <option>Mustard</option>
				  <option>Ketchup</option>
				  <option>Relish</option>
				</select>
			</div>

		</div>
	</div>
</div>

<section class="filter">
	<div class="container">

    <%= form_tag("/search/filter", method: "get", businesses: @businesses) do %>
			<div class="row vert-offset-top-6">
				<div class="col-xs-4">
					<div class="filter-aside">

						<div class="padding-15 border-bottom">
							<h5 class="strong lineheight-1">Filter <i class="fa fa-times pull-right" aria-hidden="true"></i></h5>
						</div>

						<div class="padding-20 border-bottom">
							<h6 class="strong">Category</h6>
							<ul class="list-inline brand-ul">
	              				<% @categories= Category.all.map(&:name) %>
								<%= select_tag :category, options_for_select(@categories), include_blank: "Select Category",class: "form-control" %>
							</ul>
							<h6 class="strong">City</h6>
							<ul class="list-inline brand-ul">
	              				<% @cities = City.all %>
								<%= select_tag :city,  options_from_collection_for_select(@cities, "id", "name"), include_blank: "Select city", require: true, class: "form-control" %>
							
							</ul>
							<ul class="list-inline brand-ul">
              					<%= check_box_tag(:open, class: "form-control") %>
								<%= label_tag(:open, "Open") %>								
								<%= hidden_field_tag :businesses, @businesses.map(&:id) %>
							</ul>		
						</div>
						<div class="padding-20 border-bottom">
							<p>
							  <label for="amount" class="filter-label">Rate range:</label>
								<div class="range-input">
									<h6 class="strong">from</h6>
									<%= text_field :rate_min,nil ,class: "from-amount-range filter-input" %>
									<h6 class="strong">to</h6>
									<%= text_field :rate_max,nil ,class: "to-amount-range filter-input" %><i class="fa fa-star" aria-hidden="true"></i>
								</div>
							</p>						 
							<div id="slider-range"></div>
						</div>

						<div id="accordion">
							  <h6 class="strong">Operation System <span class="bs-caret"><span class="caret"></span></span></h6>
							  <div>
							    <p>Oparation System</p>
							  </div>
							  <h6 class="strong">Material <span class="bs-caret"><span class="caret"></span></span></h6>
							  <div>
							    <p>Material</p>
							  </div>
						</div>

						<div class="padding-20 border-bottom text-center filter-button">
							<button type="submit" class="btn btn-background" style="margin-left:30px">
								Apply Filter
							</button>
						</div>

					</div>
				</div>
      <% end %>



				<div class="col-xs-8">

				<% unless @businesses.blank? %>
				 <% @businesses.each do |business| %>
				    <% next if @open && business.open != true %>
					<div class="col-xs-6">
						<div class="thumbnail">
					    <% if business.logo.blank? %>
								<%= image_tag "nologo.png", height: "90px"%>
							<% else %>
								<%= image_tag business.logo_url, height: "90px"%>
							<% end %>
					    <div class="caption">
					      <h4><%= link_to business.name, business_path(business) %></h4>
					      <h6><%= business.description %></h6>
					      <div class="vert-offset-top-2"></div>		        
					      <ul class="list-inline likes-ul">
					      	<li><span class="label label-default"><%= business.email %></span></li>
					      </ul>
					      <ul class="list-inline likes-ul pull-right">
					      	<li><i class="fa fa-star" aria-hidden="true"></i><%= business.average_rate %></li>
					      	<li><i class="fa fa-comment-o" aria-hidden="true"></i><%= business.comments.size %></li>
					      </ul>
					    </div>
					  </div>
					</div>
					<% end %>
				<% else %>
					<div class="alert alert-danger" role="alert">
					  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					  <span class="sr-only">Error:</span>
					  Not found another business
					</div>
				<% end %>
				</div>	
			</div>
	</div>
</section>



<section class="payment">
	<div class="container">
		<div class="row">
			
			<div class="col-md-6 text-center center-block">
				<h2>Easy and Secure</h2>
				<h5 class="vert-offset-top-2">The payment process with Module is always nice and comfortable process for your business.</h5>
				<ul class="list-inline payment-ul vert-offset-top-4">
					<li><%= image_tag "visa.png" %></li>
					<li><%= image_tag "mastercard.png" %></li>
					<li><%= image_tag "maestro.png" %></li>
					<li><%= image_tag "fla.png" %></li>
					<li><%= image_tag "square.png" %></li>
					<li><%= image_tag "paypal.png" %></li>
				</ul>
			</div>
		</div>
	</div>
</section>

	


	<!-- toolkit scripts -->

	<!-- /toolkit scripts -->

</body>
</html>
