 <div id="wrapper">
    <div class="join">Sign In</div>
            <div class="clr"></div>
          <div class="login-options">Choose one of the following sign in methods.</div>
              <a class="twitter" href="#">Twitter</a>
              <a class="facebook" href="#">Facebook</a>
               <%= link_to  user_google_oauth2_omniauth_authorize_path do %>
                  <div class="google">Google+</div>
              <% end %>
              <div class="clr"><hr /></div>
                      <div class="mail-text">Or sign up using your email address.</div>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="forms">
                  <label> Email</label>
                  <%= f.input :email, autofocus: true, required:true, label:false, name: "email", type: "text", placeholder: "Write your email here", size: "70", onClick: "border: 1px solid #30a8da;", id:"mail" %>
                  <label> Password</label>
                   <%= f.input :password, name: "password", required: true,label: false, type: "password", placeholder: "Write your password...", size: "70", onClick: "border: 1px solid #30a8da;", id: "password" %>
                     
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>     
                  </div>
                  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                      <i class="icon-ok icon-white"></i> Log In  
                  <% end %> 
            <label> or you can  </label>   
                  <%= link_to "Register", new_user_registration_path %>
           <% end %>   
</div>  
    
    
    
    
    