<section class="payment">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center center-block">
        <h2>Easy and Secure</h2>
        <h5 class="vert-offset-top-2">The payment process with Module is always nice and comfortable process for your business.</h5>
        <ul class="list-inline payment-ul vert-offset-top-4">
          <li><%= image_tag 'visa.png' %></li>
          <li><%= image_tag 'mastercard.png' %></li>
          <li><%= image_tag 'maestro.png' %></li>
          <li><%= image_tag 'fla.png' %></li>
          <li><%= image_tag 'square.png' %></li>
          <li><%= image_tag 'paypal.png' %></li>
        </ul>
      </div>
    </div>
  </div>
</section>